p {
-moz-opacity: 0; 
filter:alpha(opacity=0); 
opacity: 0;
text-align: center;
margin: 0;
padding: 0;
font-family: 'Shadows Into Light', cursive;
font-size: 75px;	
}

.one {
	font-size: 100px;
	font-family: 'Shadows Into Light', cursive;
}
.two {
	font-size: 150px;
	font-family: 'Amatic SC', cursive;
	padding-top: 50px;
	padding-bottom: 50px;
}
.three {
	font-size: 100px;
	font-family: 'Shadows Into Light', cursive;
}
.four {
	font-size: 100px;
	font-family: 'Shadows Into Light', cursive;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}
